Repository keycloak/keycloak-documentation, pull requests merged in 2021-03, with the labels that each got.

#1075 KEYCLOAK-16679 Add algorithm settings for client assertion signature in OIDC identity broker
  server_admin/topics/identity-broker/oidc.adoc
Labels: area/oidc, kind/enhancement, status/merge-with-code

#1134 KEYCLOAK-7675 Support for Device Authorization Grant
  securing_apps/topics/oidc/oidc-generic.adoc
  server_admin/topics/clients/client-oidc.adoc
  server_admin/topics/sso-protocols/oidc.adoc
Labels: status/merge-with-code

#1078 KEYCLOAK-15484 Document that client certificate trust should be valid…
  server_admin/topics/authentication/x509.adoc
Labels: area/authentication, kind/enhancement

#1136 KEYCLOAK-16425 Cleanup documentation regarding the logic for selecting locale
  server_admin/topics/realms/themes.adoc
  server_development/topics/locale-selector.adoc
Labels: status/in-review

#1137 KEYCLOAK-16729 Add more info for how to retrieve provider types
  server_development/topics/providers.adoc
  server_installation/topics/config-subsystem/configure-spi-providers.adoc
Labels: area/server, status/in-review

#1138 Added OAuth2 Device Grant to release notes
  release_notes/topics/13_0_0.adoc
Labels: status/in-review
